<div id="anim">

<div class="id-text">

  <div class="title">

    <div class="name">
      <div class="color-yellow">S</div>
      <div class="color-blue">a</div>
      <div class="color-pink">r</div>
      <div class="color-purple">a</div>
      <div class="color-pink">h</div>

      <div class="color-yellow"> &nbsp; </div>

      <div class="color-purple">R</div>
      <div class="color-green">e</div>
      <div class="color-pink">n</div>
      <div class="color-yellow">e</div>
      <div class="color-blue">a</div>
      <div class="color-orange">u</div>
      <div class="color-green">m</div>
      <div class="color-pink">e</div>
      <br>
    </div>
    <div class="city">Paris, France</div>
  </div>

  <div class="job-text">
    <div> Hello !</div>
    <div>I am a <span class="highlight"> Product Designer that codes</span> and <span class="highlight">User Experience</span> is my main focus.</div>

    <div>I am currently working as a freelance for multiple companies and I teach workshops at places like <%= link_to '@StartupInstitute', 'https://www.startupinstitute.com/', class:"startup-inst-link", target: :_blank %></div>

    <div>After finishing a 9-weeks bootcamp <%= link_to '@LeWagon', 'http://www.lewagon.com/', class:"le-wagon-link", target: :_blank %> to improve my coding skills,</div>
    <div>I am ready to take up on new challenges.</div>
    <br>
    <div> Got some projects ? <%= link_to ' Let\'s talk!', "mailto:sarah.reneaume@gmail.com", class:"email-link", target: :_blank %>
    </div>
  </div>

</div>

<div class="bottom-note">


  <%= link_to "", "https://www.behance.net/sarah-reneaume", class:"fa fa-behance", target: :_blank%>
  <%= link_to "", "https://fr.linkedin.com/in/sarah-reneaume", class:"fa fa-linkedin", target: :_blank%>
  <%= link_to "", "https://www.instagram.com/sarah_rnm/", class:"fa fa-instagram", target: :_blank%>
  <%= link_to "", "https://twitter.com/sarah_reneaume", class:"fa fa-twitter", target: :_blank%>
</div>

</div>



