<div class="id-text">

  <div class="name">
    <% first_name_letters = ['S','a','r','a','h'] %>
    <% colors = ['orange','yellow','pink','blue', 'green', 'purple'] %>
    <% first_name_letters.each do |letter| %>
        <div class="color-<%=colors.sample%>"><%=letter%></div>
    <% end %>

    <div> &nbsp; </div>

    <% last_name_letters = ['R','e','n','e','a','u','m','e'] %>
    <% last_name_letters.each do |letter| %>
      <div class="color-<%=colors.sample%>"><%=letter%></div>
    <% end %>
  </div>

  <div>I am a <strong> product designer that codes </strong> & <strong>UX</strong> is my main focus.</div>

  <div>I work as a designer <%= link_to '@Touchplan.io', 'http://www.touchplan.io/', class:"touchplan-link", target: :_blank %> and I teach workshops at places like <%= link_to '@Startup Institute', 'https://www.startupinstitute.com/', class:"touchplan-link", target: :_blank %></div>

  <div>After finishing a 9-weeks bootcamp <%= link_to '@LeWagon', 'http://www.lewagon.com/', class:"touchplan-link", target: :_blank %> to improve my coding skills,</div>
  <div>I am ready to take on new challenges.</div>
  <br>
  <div> Got some project? <%= link_to 'Let\'s talk!', "mailto:sarah.reneaume@gmail.com", class:"email-link", target: :_blank %>
  </div>

</div>

<div class="bottom-note">
  <%= link_to "", "https://www.linkedin.com/in/sarah-leli%C3%A8vre-reneaume-81268456", class:"fa fa-linkedin-square", target: :_blank%>
  <%= link_to "", "https://www.instagram.com/sarah_whistle/?hl=en", class:"fa fa-instagram", target: :_blank%>
  <%= link_to "", "https://twitter.com/sarah_reneaume", class:"fa fa-twitter", target: :_blank%>
</div>


